@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.font {
  font-family: 'Monoton', cursive;
  color: rgb(255, 213, 150);
}

.text-light-400 {
  color: var(--bs-light);

}

.text {
  text-align: right;
}

.active {
  color: rgb(247, 13, 52);
  font-weight: 600;
  text-decoration: none;
  ;
}

.default {
  text-decoration: none;
}